<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/config.css">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <link rel="stylesheet" href="../../static/css/icons_fa.css">
    <title>LOQ Profile page</title>
</head>
<body>

    <div class="user_info">
        <div class="container" style>
            <img src="../../static/assets/img/logo.jpg" alt="" class="avatar">
            <h1 class="name">Козлов Степан</h1>
            <h3 class="status">Суши. Так меня называла жена. Холодный, как рыба.</h3>
        </div>
    </div>

    <div class="user_content">
        <div class="container">
            <div class="dark_block"></div>
            <input type="text" name="vk_link" id="" placeholder="Ссылка на Ваш профиль VK">
            
            <div class="content__block">
                <h3 class="content__title">Основная информация</h3>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-suitcase"></i> Деятельность</p>
                    <p class="text__right">Маркетолог</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-gift"></i> Дата рождения</p>
                    <p class="text__right">7 октября</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-home"></i> Жительство</p>
                    <p class="text__right">Москва</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="far fa-heart"></i> Семейный статус</p>
                    <p class="text__right">В разводе</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-transgender-alt"></i> Пол</p>
                    <p class="text__right">Мужской</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-mobile-alt"></i> Номер телеофна</p>
                    <p class="text__right">8 (800) 555-35-35</p>
                </div>
            </div>

            <div class="content__block">
                <h3 class="content__title">Образование</h3>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-globe"></i> Языки</p>
                    <p class="text__right">Русский, <br>Немецкий</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-graduation-cap"></i> ВУЗ</p>
                    <p class="text__right">МГУ</p>
                </div>
                <div class="content__row">
                    <p class="text__left"><i class="fas fa-school"></i> Школа</p>
                    <p class="text__right">Лицей ВШЭ</p>
                </div>
            </div>

        </div>
    </div>

    <nav>
        <div class="nav__container">
            
            <div class="nav__element">
                <a href="visited.html">
                    <img src="../../static/assets/img/visited.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="meets.html">
                    <img src="../../static/assets/img/meets.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="profile.html">
                    <img src="../../static/assets/img/profile__dark.png" alt="">
                </a>
            </div>
        </div>
    </nav>

</body>
</html>