<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/config.css">
    <link rel="stylesheet" href="../../static/css/visited.css">
    <title>LOQ Visited page</title>
</head>
<body>
    
    <div class="main__bg"></div>

    <section class="main_content">

        <div class="container">
            <h1 class="main__title">
                Посещенные <br>встречи
            </h1>
            <div class="content__block">
                <h3 class="meet__title">
                    Ваша встреча
                </h3>
                <p class="meet__adress">
                    Кафе "У Ашота" <br>Улица Пушкина, Дом Колотушкина
                </p>
                <h3 class="meet__group">
                    Ваша компания:
                </h3>
                <div class="meet__peoples">
                    <div class="people">
                        <img src="../../static/assets/img/logo.jpg" alt="" class="avatar">
                        <p class="name">
                            Ренат Госляров
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/sanya.jpg" alt="" class="avatar">
                        <p class="name">
                            Алексей Назарович
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/malevich.jpg" alt="" class="avatar">
                        <p class="name">
                            Казимир Малевич
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__block">
                <h3 class="meet__title">
                    Ваша встреча
                </h3>
                <p class="meet__adress">
                    Кафе "У Ашота" <br>Улица Пушкина, Дом Колотушкина
                </p>
                <h3 class="meet__group">
                    Ваша компания:
                </h3>
                <div class="meet__peoples">
                    <div class="people">
                        <img src="../../static/assets/img/logo.jpg" alt="" class="avatar">
                        <p class="name">
                            Ренат Госляров
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/sanya.jpg" alt="" class="avatar">
                        <p class="name">
                            Алексей Назарович
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/malevich.jpg" alt="" class="avatar">
                        <p class="name">
                            Казимир Малевич
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__block">
                <h3 class="meet__title">
                    Ваша встреча
                </h3>
                <p class="meet__adress">
                    Кафе "У Ашота" <br>Улица Пушкина, Дом Колотушкина
                </p>
                <h3 class="meet__group">
                    Ваша компания:
                </h3>
                <div class="meet__peoples">
                    <div class="people">
                        <img src="../../static/assets/img/logo.jpg" alt="" class="avatar">
                        <p class="name">
                            Ренат Госляров
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/sanya.jpg" alt="" class="avatar">
                        <p class="name">
                            Алексей Назарович
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/malevich.jpg" alt="" class="avatar">
                        <p class="name">
                            Казимир Малевич
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__block">
                <h3 class="meet__title">
                    Ваша встреча
                </h3>
                <p class="meet__adress">
                    Кафе "У Ашота" <br>Улица Пушкина, Дом Колотушкина
                </p>
                <h3 class="meet__group">
                    Ваша компания:
                </h3>
                <div class="meet__peoples">
                    <div class="people">
                        <img src="../../static/assets/img/logo.jpg" alt="" class="avatar">
                        <p class="name">
                            Ренат Госляров
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/sanya.jpg" alt="" class="avatar">
                        <p class="name">
                            Алексей Назарович
                        </p>
                    </div>
                    <div class="people">
                        <img src="../../static/assets/img/malevich.jpg" alt="" class="avatar">
                        <p class="name">
                            Казимир Малевич
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <nav>
        <div class="nav__container">
            
            <div class="nav__element">
                <a href="visited.html">
                    <img src="../../static/assets/img/visited__dark.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="meets.html">
                    <img src="../../static/assets/img/meets.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="profile.html">
                    <img src="../../static/assets/img/profile.png" alt="">
                </a>
            </div>
        </div>
    </nav>

</body>
</html>