body {
    background: #fff;
}

.user_info {
    text-align: center;
    background: url(../assets/img/clouds.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.user_content {
    overflow: scroll;
    height: 65vh;
    width: 100%;
    background: #f2f2f2 url(../assets/img/main-screen_bg__blur.png);
    background-position: center bottom;
    background-size: cover;
    border: 2px solid #4f4f4f;
    border-radius: 5%;
    position: fixed;
    bottom: 0;
    color: #fff;
}

.dark_block {
    width: 25%;
    height: 0.45vh;
    background: #4f4f4f;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-bottom: 2.5vh;
}

.avatar {
    position: relative;
    height: 20vh;
    
    margin-top: 6vh;
    margin-bottom: 1.4vh;
    filter: drop-shadow(0px 0.4vh 0.4vh rgba(0, 0, 0, 0.5));
    border: 10px solid transparent;
    border-radius: 15%;
}

.name {
    font-size: 5vw;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

.status {
    font-size: 3.5vw;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.user_content input {
    width: 100%;
    height: 4vh;
    margin-bottom: 2.5vh;
    background: #F2F2F2;
    font-size: 4vw;
    font-family: 'Montserrat';
    color: #343434;
    padding-left: 7%;
    padding-right: 7%;
    vertical-align: middle;
    border-radius: 6vh;
    border: 2px solid #797979;
    outline: none;
}

.content__block p {
    font-size: 3.8vw;
    font-family: 'Source Sans Pro', serif;
    letter-spacing: .25vw;
}

.content__title {
    font-size: 3.5vw;
    font-weight: 400;
}

.content__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.75vh;
}

.text__left {
    width: 55%;
    font-weight: 600;
}

.text__right {
    width: 45%;
    font-weight: 300;
}